:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --brend-color: #2196f3;
  --backgrd-color: #f5f4fa;
  --light-color: #ffffff;
  --brand-bg-color: #188ce8;
  --icons-master-color: #afb1b8;
  --padding-94: 94px;
  --margin-30: 30px;
  --pading-32: 32px;
  --margin-10: 10px;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.lists {
  list-style: none;
}

body {
  font-family: "Roboto", tahoma, sans-serif;
  color: var(--main-color);
  font-size: 14px;
}

.visibility-hidden {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
  padding-bottom: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.header__container .logo {
  padding: 16px 0px;
}

@media screen and (max-width: 1199px) {
  .mob-menu {
    border: none;
    background: transparent;
    position: absolute;
    right: 23px;
    align-items: center;
    padding: 22px 0px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu:hover, .mob-menu:focus, .mob-menu:active {
    fill: var(--brend-color);
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu,
.contacts__item {
    display: none;
  }
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding-top: 28px;
  padding-bottom: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration-line: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .menu__link {
    padding-top: var(--pading-32);
    padding-bottom: var(--pading-32);
  }
}

.menu__link--current {
  color: var(--brend-color);
  position: relative;
}

.menu__link--current::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--brend-color);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  font-style: normal;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: var(--pading-32);
    padding-bottom: var(--pading-32);
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .contacts__icon--tab {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contacts__icon--desk {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--brend-color);
}

.menu__link:hover,
.menu__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--brend-color);
}

.mob-menu__close-btn {
  position: absolute;
  top: 20px;
  right: 22px;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
}
.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-align: start;
  margin-bottom: 32px;
}
.mob-menu__link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16666;
  letter-spacing: 0.03em;
  color: var(--brend-color);
  text-decoration-line: none;
}
@media screen and (min-width: 480px) {
  .logo {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923;
  }
}
.logo--black {
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .logo--black {
    margin-right: 93px;
  }
}
.logo--white {
  color: var(--light-color);
  margin-right: 0;
}

.hero {
  padding: 118px 0px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  margin: 0 auto 30px auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  padding: 10px 32px;
  background: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--brand-bg-color);
}

.bg-img {
  max-width: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-img-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-img {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-img-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .bg-img {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-img-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .bg-img {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-img-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .bg-img {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .bg-img {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-img-2x.jpg);
  }
}

.about-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about-padding {
    padding-top: var(--padding-94);
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .about__flex {
    width: 100%;
    margin-right: 0px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 768px) {
  .about__flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__flex {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .about__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 60px) / 2);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: calc((100% - 120px) / 4);
    margin-right: 15px;
    margin-left: 15px;
  }
}

.about__img {
  width: 100%;
  height: 120px;
  background-color: var(--backgrd-color);
  border-radius: 4px;
  margin-bottom: var(--margin-30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: var(--margin-10);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__title {
    text-align: start;
  }
}

.about__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.offer__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer {
  padding-top: 0px;
}
.offer__img {
  flex-basis: 33.3333333333%;
  margin-right: 15px;
  margin-left: 15px;
}
.offer__wrap {
  position: relative;
}
.offer__text {
  width: calc(100% - 30px);
  height: 70px;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-left: 15px;
}

@media screen and (max-width: 1199px) {
  .offer {
    display: none;
  }
}

.masters {
  background-color: var(--backgrd-color);
}

.masters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.masters-photo {
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .masters-photo {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .masters-photo {
    max-width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .masters-photo {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .masters-photo:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .masters-photo:nth-child(1n+3) {
    margin-bottom: 0px;
  }
}

.masters-photo .photo {
  width: 100%;
}

.masters-name {
  padding-top: var(--margin-30);
  padding-bottom: var(--margin-30);
}

.masters-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--margin-10);
}

.proffesion {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.masters-soc-item {
  width: 44px;
  height: 44px;
  background-color: var(--light-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-soc-item:not(:last-child) {
  margin-right: var(--margin-10);
}
.masters-soc-item:hover, .masters-soc-item:focus {
  background-color: var(--brend-color);
}

.masters-soc-icon {
  fill: var(--icons-master-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-soc-item:hover .masters-soc-icon, .masters-soc-item:focus .masters-soc-icon {
  fill: var(--light-color);
}

.client-soc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 479px) {
  .client-soc {
    flex-direction: column;
    align-items: center;
  }
}

.client-soc-item {
  width: 100%;
  height: 92px;
  border: 1px solid var(--icons-master-color);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-soc-item:hover, .client-soc-item:focus {
  fill: var(--brend-color);
  border-color: var(--brend-color);
}
@media screen and (max-width: 479px) {
  .client-soc-item {
    max-width: 210px;
  }
}
@media screen and (max-width: 479px) {
  .client-soc-item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 480px) {
  .client-soc-item {
    max-width: 210px;
  }
}
@media screen and (min-width: 480px) {
  .client-soc-item:nth-child(1n+5) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .client-soc-item {
    max-width: 226px;
  }
}
@media screen and (min-width: 768px) {
  .client-soc-item:nth-child(1n+4) {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .client-soc-item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-soc-item {
    max-width: 170px;
  }
}

.client-soc-icon {
  fill: var(--icons-master-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-soc-item:hover .client-soc-icon, .client-soc-item:focus .client-soc-icon {
  fill: var(--brend-color);
  border-color: var(--brend-color);
}

.portfolio-filter {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    padding-top: 94px;
  }
}
.portfolio-filter__list {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .portfolio-filter__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter__list {
    margin-bottom: 50px;
    justify-content: center;
  }
}
.portfolio-filter__item {
  margin-bottom: 10px;
}
.portfolio-filter__item:nth-child(1n+4) {
  margin-bottom: 0px;
}
.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-filter__button {
  background: var(--backgrd-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: 0px;
  padding: 6px 22px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  background: var(--brend-color);
  color: var(--light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-filter__button--current {
  background-color: var(--brend-color);
  color: var(--light-color);
}

.portfolio-lists {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .portfolio-lists {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-lists {
    padding-bottom: 94px;
  }
}

.portfolio__item {
  max-width: 480px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 60px) / 2);
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 90px) / 3);
  }
  .portfolio__item:nth-child(1n+7) {
    margin-bottom: 0px;
  }
}

.portfolio__img {
  max-width: 100%;
}

.portfolio__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  top: 0;
  background-color: var(--brend-color);
  color: var(--light-color);
  opacity: 90%;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  overflow: auto;
}
.portfolio__item:hover .portfolio__text {
  transform: translateY(0%);
}

.portfolio__card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
  box-sizing: border-box;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__name {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-section {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-section .container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container__tablet {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-content {
    margin-right: 165px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-logo,
.footer-list,
.footer-padding {
    text-align: center;
  }
}

.footer-logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-right: 63px;
  }
}

.footer-contacts-link {
  font-weight: 400;
  line-height: 1.71;
  text-decoration-line: none;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--light-color);
  opacity: 60%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--brend-color);
  opacity: 100%;
}

.footer-list :not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .footer-list :not(:last-child) {
    margin-bottom: 8px;
  }
}

.contacts-addres {
  color: var(--light-color);
  opacity: 100%;
}

.footer-padding {
  padding-top: 12px;
}
@media screen and (max-width: 1199px) {
  .footer-padding {
    padding-top: 5px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .footer-padding {
    padding-top: 60px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-padding {
    margin-left: 70px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}
.footer-soc-item:hover, .footer-soc-item:focus {
  background-color: var(--brend-color);
}

.footer-soc-icon {
  fill: var(--light-color);
}

.footer-sending {
  right: 0px;
}

@media screen and (min-width: 1200px) {
  .footer-input-form__flex {
    display: flex;
  }
}

.fotter-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--light-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fotter-input:hover, .fotter-input:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
}
@media screen and (max-width: 1199px) {
  .fotter-input {
    width: 100%;
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .fotter-input {
    width: 450px;
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .fotter-input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-sendign-icon {
  fill: var(--light-color);
  margin-left: 10px;
}

.footer-sending-btn {
  display: block;
  width: 200px;
  height: 50px;
  background: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sending-btn:hover, .footer-sending-btn:focus {
  background-color: var(--brand-bg-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(-3);
}

.modal {
  position: relative;
  width: 530px;
  min-height: 580px;
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.1);
}

.modal-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover, .modal-close-icon:focus {
  fill: #188ce8;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--secondary-color);
  font-size: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 5px;
  background-color: var(--light-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:hover, .modal-field:focus {
  fill: #188ce8;
}
.modal-field:nth-child(5) {
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal-field:nth-child(5) :hover {
  fill: var(--light-color);
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
}

.modal-text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-text:placeholder-shown {
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-text::placeholder {
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:hover, .modal-text:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
}

.modal-text:not(:required) .modal-text:valid {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal__btn {
  display: block;
  width: 200px;
  height: 50px;
  background: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: var(--brand-bg-color);
}

.check-reletive {
  position: relative;
}

.icon-check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: var(--light-color);
}

.modal-check {
  background-color: var(--brand-color);
}

.modal-check-text {
  color: var(--secondary-color);
  line-height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 7px;
}
.modal-check:checked + .modal-check-text::before {
  background-color: var(--brend-color);
  border: none;
}

.modal-check-link {
  color: var(--brend-color);
  text-decoration: underline;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-padding {
  padding-top: var(--padding-94);
  padding-bottom: var(--padding-94);
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
  }
}

.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */