.about-padding {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: var(--padding-94);
        padding-bottom: 0;
    }
}

.about__flex {
    @media screen and (max-width: 767px) {
        width: 100%;
        margin-right: 0px;
        margin-bottom: -30px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: -30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        
    }
}

.about__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * 30px) / 4);
        margin-right: 15px;
        margin-left: 15px;
    }
}

.about__img {
    width: 100%;
    height: 120px;
    background-color: var(--backgrd-color);
    border-radius: 4px;
    margin-bottom: var(--margin-30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: var(--margin-10);
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align:start    ;
    }
}

.about__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
