.hero {
    
    @media screen and (max-width: 1199px) {
        // position: relative;

    }
    @media screen and (min-width: 1200px) {
        // padding-top: 200px;
        // padding-bottom: 200px;
    }
    &__title {
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--light-color);
        margin: 0 auto 30px auto;
        @media screen and (max-width: 1199px) {
            max-width: 360px;
            font-size: 26px;
            line-height: 1.62;
            // position: absolute;
            top: 118px;
            left: 204px;
        }
        @media screen and (max-width: 767px) {
            position: absolute;
            max-width: 360px;
            top: 118px;
            left: 60px;
        }
        @media screen and (max-width: 479px) {
            top: 25%;
            left: 0%;
        }
        @media screen and (min-width: 1200px) {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__btn {
        @media screen and (max-width: 1199px) {
            // position: absolute;
            top: 232px;
            left: 284px;
        }
        @media screen and (max-width: 767px) {
            top: 232px;
            left: 140px;
        }
        @media screen and (max-width: 479px) {
            top: 65%;
            left: 20%;
        }
        padding: 10px 32px;
        background: var(--brend-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        color: var(--light-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: block;
        align-items: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        margin: auto;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: var(--brand-bg-color);
        }
    }
}
.bg-img {
    @media screen and (max-width: 767px) {
        max-width: 480px;
        height: 400px;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/fon-Img_mob.jpg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    @media screen and (max-width: 479px) {

        // width: 100%;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/fon-Img_mob.jpg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/fon-Img-tab.jpg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/fon-Img.jpg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }
}
