.masters {
    background-color: var(--backgrd-color);
}

.masters-container {
    margin-left: -30px;
}

.masters-photo {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: var(--margin-30);
    background: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.masters-name {
    padding-top: var(--margin-30);
    padding-bottom: var(--margin-30);
}

.masters-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: var(--margin-10);
}

.proffesion {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.masters-soc-item {
    width: 44px;
    height: 44px;
    background-color: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:last-child) {
        margin-right: var(--margin-10);
    }
    &:hover,
    &:focus {
        background-color: var(--brend-color);
    }
}

.masters-soc-icon {
    fill: var(--icons-master-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .masters-soc-item:hover &,
    .masters-soc-item:focus & {
        fill: var(--light-color);
    }
}
