.container {
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        max-width: 480px;
    }
}

// .section-padding {
//     padding-top: var(--padding-94);
//     padding-bottom: var(--padding-94);
// }

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    @media screen and (min-width: 480px) {
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.03em;
    }
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// .margin-right:not(:last-child) {
//     margin-right: var(--margin-30);
// }
