:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --brend-color: #2196f3;
    --backgrd-color: #f5f4fa;
    --light-color: #ffffff;
    --brand-bg-color: #188ce8;
    --icons-master-color: #afb1b8;
    --padding-94: 94px;
    --margin-30: 30px;
    --pading-32: 32px;
    --margin-10: 10px;
}

